

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>

    <h1>Forget Password</h1>

    <form id="forgetPasswordForm">

        <label for="Email"> Your Email</label>
        <input type="email" id="email" name="email" disabled value="<%=userEmail%>">

        <input type="text" id="userId" name="userId" disabled value="<%=userId%>">

        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>

        <button type="submit">Submit</button>
    </form>

    <script>
        document.getElementById('forgetPasswordForm').addEventListener('submit', function(event) {
            event.preventDefault();

            // Get the new password from the input field
            const newPassword = document.getElementById('newPassword').value;
            const email = document.getElementById('email').value
            const userId = document.getElementById('userId').value
            // Call the change password API
            fetch('/v1/user/change-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ newPassword, email, userId }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Password changed successfully:', data);
                window.location.href = `/v1/user/change-password?email=${encodeURIComponent(email)}`;
            })
            .catch(error => {
                console.error('Error changing password:', error);
                // Handle errors or display a message to the user
            });
        });
    </script>

</body>
</html>
