<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation Success</title>
</head>

<body>
    <h1>Password changed success!</h1>
    <p>Your email <%= userEmail %></p>
    <p>Continue to the website and explore the dashboard:</p>
    <a href="<%= redirectUrl %>"><button>Go to Dashboard</button></a>
</body>

</html>